<configuration>
    <appender name="LOG" class="ch.qos.logback.core.FileAppender">
        <file>/home/walter/waltR/springLog/springwebapp.log</file>
        <append>true</append>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>/home/walter/waltR/springLog/springwebapp_error.log</file>
        <append>true</append>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="hu.klayton.wade.spring.controller.VehicleController" level="DEBUG">
        <appender-ref ref="LOG"/>
    </logger>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="ERROR"/>
    </root>
</configuration>
