body {
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.has-error {
    /*border: 1px solid #b94a48 !important;*/
    /*background-color: #fee !important;*/
    color: #a94442;
}

.form-signup {
    background-color: wheat;
}

.form-signin {
    background-color: lightblue;
}

.form-horizontal .control-label {
    text-align: left;
}

.radio {
    padding-bottom: 10px;
    padding-top: 10px;
}
